<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>SearchAlert\SearchAlert</fullnamespace>
    <descriptive locale="en_US">
        <title>Be alerted when a product matching your search criteria is posted</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Soyez alerté lorsqu'un produit correspondant à votre recherche est mise en ligne</title>
    </descriptive>
    <version>0.1</version>
    <author>
        <name>Michaël Espeche</name>
        <email>mespeche@openstudio.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
